@import "tailwindcss";

/* Custom clip-path utilities */
@utility clip-up-arrow {
	clip-path: polygon(30% 0%, 70% 0%, 100% 50%, 70% 100%, 30% 100%, 0% 50%);
}

@utility clip-down-arrow {
	position: absolute;
	top: 1px;
	left: 0;
	width: 100%;
	clip-path: polygon(
		97% 60%,
		80% 60%,
		80% 5%,
		20% 5%,
		20% 60%,
		3% 60%,
		50% 95%
	);
	-webkit-clip-path: polygon(
		97% 60%,
		80% 60%,
		80% 5%,
		20% 5%,
		20% 60%,
		3% 60%,
		50% 95%
	);
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	content: "";
	z-index: -1;
	opacity: 1;
	transition: background-color 0.3s ease;
}

#root {
	max-width: 1280px;
	margin: 0 auto;
	text-align: center;
}

html {
	background-image: url("./assets/Black_Lotus.webp");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
	box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.342);
	background-color: #000;
}
