@import "tailwindcss";

/* Custom clip-path utilities */
@utility clip-up-arrow {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	clip-path: polygon(
		50% 0%,
		0% 60%,
		20% 60%,
		20% 100%,
		80% 100%,
		80% 60%,
		100% 60%
	);
	-webkit-clip-path: polygon(
		50% 0%,
		0% 60%,
		20% 60%,
		20% 100%,
		80% 100%,
		80% 60%,
		100% 60%
	);
	background: rgba(0, 0, 0, 0.3);
	content: "";
	opacity: 1;
	transition: background-color 0.3s ease;
	pointer-events: none;
	z-index: 1;
}

@utility clip-down-arrow {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	clip-path: polygon(
		50% 100%,
		0% 40%,
		20% 40%,
		20% 0%,
		80% 0%,
		80% 40%,
		100% 40%
	);
	-webkit-clip-path: polygon(
		50% 100%,
		0% 40%,
		20% 40%,
		20% 0%,
		80% 0%,
		80% 40%,
		100% 40%
	);
	background: rgba(0, 0, 0, 0.3);
	content: "";
	opacity: 1;
	transition: background-color 0.3s ease;
	pointer-events: none;
	z-index: 1;
}

#root {
	max-width: 1280px;
	margin: 0 auto;
	text-align: center;
}

html {
	background-image: url("./assets/Black_Lotus.webp");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.342);
	background-color: #000;
}
